*{
	box-sizing: content-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
   background-image: url(images.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;

}

 header{
 	padding: 10%;
 	text-align: left;
 	font-size: 25px;
 	color: #0F0402;
 }

 ul {


  text-align: left;
  column-rule-color: #0F0402;
  list-style-type: none;
  margin: 20;
  padding: 20;
  overflow: hidden;
}

li a {
  display: block;
  color: #031803;
  padding: 10px 10px;
  text-decoration: none;
}
li a:hover {
  background-color: #F7F0EF;
  color: black;
  }

article{
	
	float: center;
	padding: 100px;
	text-decoration: blink;
	object-fit: contain;
	background-repeat: no-repeat;
	color: #2F100A;

}